---

---

<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1> ABOUT ME</h1>

    <h2> my new astro site yo</h2>

    <h3> I own 3 dogs of high calibre.</h3>
</body>