---

import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
    name: "Kalle",
    country: "Afganistan",
    occupation: "blogger",
}
const skills = ["JAVA", "Object orientation", "Bussiness logic", "Markov chains"];
const pageTitle = "About ME";
const cool = true;
const dogTextColor = "purple";
const myFontWeight = 700;
---

<style define:vars={{dogTextColor, myFontWeight}}>
    h1 {
        color: blue;
        font-size: 3.5rem;
    }
    .mydog {
        color: var(--dogTextColor);
        font-weight: var(--myFontWeight);
    }
</style>
<BaseLayout pageTitle={pageTitle}>

    <h2> my new astro site yo {cool && <p> very cool!</p>}</h2>

    <h3> I own 3 dogs of high calibre.</h3>
    <p>
        their names are:
    </p>
    <ul>
        {skills.map((skill) => <li class="mydog">{skill}</li>)}
    </ul>

</BaseLayout>
