---
import BlogPreview from '../components/BlogPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
const allPosts = await Astro.glob('../pages/posts/*.md');

---

<BaseLayout pageTitle={pageTitle}>
    <p>
        First article about big notebooks
    </p>
    <ul>
        {allPosts.map((post) => 
            <li>
                <BlogPreview post={post}/>
            </li>
        )}
    </ul>
</BaseLayout>

