---
import BaseLayout from "../layouts/BaseLayout.astro";

const number = Math.trunc((10000000000.0* Math.random())) / 10000000000.0;
const pageTitle = "Astro kalle : " + number;
---

<BaseLayout pageTitle={pageTitle}>
	<h2> YOO</h2>
	<p>
		this is my new astro site, very cool I know.
	</p>

	<p> it has lots of amazing things in it.</p>
</BaseLayout>