---
---

<div transition:animate="slide" class=" nav-links drop-shadow-xl hover:saturate-200 hover:outline" >
    <a href="/">Home</a>
    <a data-astro-reload href="/about/">About</a>
    <a href="/blog/" class="animate-spin duration-1000">Blog</a>
    <a href="/tags/" class="invert">Tags</a>
</div>


<style>

</style>