---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';
const {pageTitle} = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<html lang="en" class="grayscale hover:grayscale-0 cursor-progress ">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator}/>
        <title>{pageTitle}</title>
        <ViewTransitions />
    </head>
    <body class="shadow-xl">
        <Header />
        <h1 class="transition-all ease-in-out hover:scale-y-150" transition:animate="slide">{pageTitle}</h1>
        <slot />
        <Footer />
        <script>
            import '../scripts/menu';
        </script>
    </body>
</html>
